<div class="container p-3">
    <p class="text-center fs-2" style="font-family: roman-times;">Our Team</p>
    <div class="row">
        <div class="col-md-3">
            <div class="card point-card">
                <div class="card-body">
                    <img alt="" width="180px" height="230px" src="img/2.jpg">
                    <p style="font-family: 'Times New Roman', Times, serif; font-weight: 600;">Mohd Soyal</p>
                    <p>CEO</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card point-card">
                <div class="card-body">
                    <img alt="" width="0px" height="230px" src="img/5.jpg">
                    <p style="font-family: 'Times New Roman', Times, serif; font-weight: 600;">Mohd Soyal</p>
                    <p>CEO</p>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card point-card">
                <div class="card-body">
                    <img alt="" width="180px" height="230px" src="img/3.jpg">
                    <p style="font-family: 'Times New Roman', Times, serif; font-weight: 600; text-align: center;">Mohd Soyal</p>
                    <p>CEO</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card point-card">
                <div class="card-body">
                    <img alt="" width="180px" height="23 0px" src="img/4.jpg" style="border-radius: 10px;">
                    <p style="font-family: 'Times New Roman', Times, serif; font-weight: 600;">Mohd Soyal</p>
                    <p>CEO</p>
                </div>
            </div>
        </div>

    </div>
</div>