{% include 'header.html' %}




{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <h1 class="{{ message.tags }}" style="text-align: center; font-family: 'Times New Roman', Times, serif; color: red; font-weight: bold;">{{ message }}</h1>
        {% endfor %}
    </ul>
{% endif %}

<form action="" method="post"  name="changepassword"  class="container mt-5" style="max-width: 500px; margin: auto; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px;">
    <h1 style="text-align: center; font-family: 'Times New Roman', Times, serif;">! Change User Password !</h1>
    {% csrf_token %}

   

    <div class="mb-3">
        <label for="password" style="font-weight: bold;">Current Password</label>
        <input type="password" class="form-control" name="cupass" required="true"> 
    </div>
    <div class="mb-3"></div>
        <label for="password" style="font-weight: bold;">New Password</label>
        <input type="password" class="form-control" name="npass" required="true">
          
    </div>
    <div class="mb-3">
        <label for="password" style="font-weight: bold;">Confirm Password</label>
        <input type="password" class="form-control" name="cpass" required="true">
          
    </div>

    <div class="text-center mb-3" >
        <input type="submit" value="Change Pasword" class="btn btn-success mt-3">
    </div>
   
</form>
