{% extends 'index.html' %}
{% load static %}

{% block contain %}

<script>
    function checkpass() {
        const pwd = document.signup.pwd.value;
        const cpwd = document.signup.cpwd.value;
        if (pwd !== cpwd) {
            alert("Password and Confirm Password fields do not match");
            document.signup.pwd.focus();
            return false;
        }
        return true;
    }
</script>

<form action="" onsubmit="return checkpass()" method="post" name="signup" class="container mt-5"
    style="max-width: 500px; margin: auto; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px;"
    enctype="multipart/form-data">
    <h1 class="mb-5" style="text-align: center; font-family: 'Times New Roman', Times, serif;">User Signup</h1>
    {% csrf_token %}

    <div class="form-row row">
        <div class="form-group col-md-6">
            <label for="first" style="font-weight: bold;">First Name</label>
            <input type="text" id="first" name="first" class="form-control" placeholder="Enter First Name" required>
        </div>

        <div class="form-group col-md-6">
            <label for="last" style="font-weight: bold;">Last Name</label>
            <input type="text" id="last" name="last" class="form-control" placeholder="Enter Last Name" required>
        </div>
    </div>

    <div class="form-row row">
        <div class="form-group col-md-12">
            <label for="contact" style="font-weight: bold;">Contact</label>
            <input type="text" id="contact" name="contact" class="form-control" placeholder="Enter Contact Number" required>
        </div>
    </div>

    <div class="form-row row">
        <div class="form-group col-md-12">
            <label for="email" style="font-weight: bold;">Email ID</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email ID" required>
        </div>
    </div>

    <div class="form-row row">
        <div class="form-group col-md-6">
            <label for="pwd" style="font-weight: bold;">Password</label>
            <input type="password" id="pwd" name="pwd" class="form-control" placeholder="Enter Password" required>
        </div>

        <div class="form-group col-md-6">
            <label for="cpwd" style="font-weight: bold;">Confirm Password</label>
            <input type="password" id="cpwd" name="cpwd" class="form-control" placeholder="Confirm Password" required>
        </div>
    </div>

    <div class="form-row row">
        <div class="form-group col-md-6">
            <label class="d-flex align-items-center" style="font-weight: bold; margin-bottom: 0;">Gender</label>
            <div class="d-flex" style="border: 1px solid lightgray; border-radius: 6px; padding: 6px;">
                <div class="custom-control custom-radio custom-control-inline mr-3">
                    <input type="radio" id="customcontrolinline1" name="gender" class="custom-control-input" value="male" required>
                    <label for="customcontrolinline1" class="custom-control-label">Male</label>
                </div>
        
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customcontrolinline2" name="gender" class="custom-control-input" value="female" required>
                    <label for="customcontrolinline2" class="custom-control-label">Female</label>
                </div>
            </div>
        </div>
        
        <div class="form-group col-md-6">
            <label for="img" style="font-weight: bold;">Image</label>
            <input type="file" id="img" name="img" class="form-control">
        </div>
    </div>

    <div class="text-center mb-3">
        <input type="submit" value="Submit" class="btn btn-success mt-3">
        <a href="{% url 'user_login' %}" class="btn btn-primary mt-3">Back To Login</a>
    </div>
</form>

{% if error == "no" %}
<script>
    alert("Signup Successfully");
    window.location = '{% url "user_login" %}';
</script>
{% elif error == "yes" %}
<script>
    alert("Something went wrong");
</script>
{% endif %}


{% endblock %}
